<nav class="navbar">  
    	<span class="navbar-toggler-icon"></span>
    	</button>
	    <div class="collapse navbar-collapse " id="navbarSupportedContent">     
		    <ul class="navbar-nav mr-4">
                    <li>
                        <a class="asLogo" href="/assets"> <b>My Farm Story</b></a>
                    </li>
                    <li>
                        <a class="nav-link " href="/users/logout"> logout </a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link " href="/market">Market</a>       
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link " href="/explore/hunting">Explore</a>         
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/assets/profile"> Profile </a>        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/assets"> Assets </a>        
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/myfarm"> myFarm </a>        
                    </li>   


                    <!-- <li class="nav-item"> 
	    	      		<a class="nav-link " data-value="login" href="/index">Login</a>       
                    </li>
                    <li>
                        <a class="nav-link" href="/users/register"> Sign up </a>
                    </li> -->
                    
		    </ul> 
	    </div>
</nav>
    