<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Satisfy&display=swap" rel="stylesheet"> 
    <title>MyFarmStory</title>
    <style>
        body {
            background-image:url("/images/img_10.jpg") ;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 20%;
            background-position-x: 75%;
        }
    </style>
    <%- include ./partials/styleHeader%>
</head>

<body>
	 <%- include ./partials/navBarUser %>
    <header class="header"> 
        <div class="jumbotron jumbotron-fluid">
              <b><a style="font-size:70px;text-align:center;font-family:'gochi hand'" href="/explore/hunting/<%=monsterid%>" class="btn btn-primary">Hunting</a></b>
        </div>
      
    </header>  
</body>

</html>