<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my Farm Story</title>
</head>
<body>
    <h2> Register form </h2>
    <form action="/users/register" method="POST">
        <p> Name :</p>
        <input type="text" name="name">
        <p> Birthday :</p>
        <input type="date" name="birthday">
        <p> Username :</p>
        <input type="text" name="username" >
        <p> Password :</p>
        <input type="password" name="password" >
        <p> Email :</p>
        <input type="email" name="email" >
        <br>
        <button type="submit"> submit </button>
    </form>
</body>
</html>