<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><b><%= users.name %> 's profile</b></h1>
    <p> <%= users.birthday %> </p>
    <p> <%= users.username %> </p>
    <p> <%= users.money %>G </p>
</body>
</html>